<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/task_styles.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <h1>List of Tasks:</h1>
      <% for(let i=0; i<tasks.length; i++) { %>
        <!-- <h4>Task[<%= i %>]: <%= tasks[i].title %></h4> -->
        <a href="task/<%= tasks[i].id %>"><h4>Task[<%= i %>]: <%= tasks[i].title %></h4></a>
      <% } %>
      <a href="/new" class="btn btn-success">Add Task</a>
      </div>

    </div>
  </body>
</html>
